<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>United Arab Emirates</key>
	<string>ae</string>
	<key>Antigua</key>
	<string>ag</string>
	<key>Anguilla</key>
	<string>ai</string>
	<key>Albania</key>
	<string>al</string>
	<key>Armenia</key>
	<string>am</string>
	<key>Angola</key>
	<string>ao</string>
	<key>Argentina</key>
	<string>ar</string>
	<key>Austria</key>
	<string>at</string>
	<key>Australia</key>
	<string>au</string>
	<key>Azerbaijan</key>
	<string>az</string>
	<key>Barbados</key>
	<string>bb</string>
	<key>Belgium</key>
	<string>be</string>
	<key>Burkina-Faso</key>
	<string>bf</string>
	<key>Bulgaria</key>
	<string>bg</string>
	<key>Bahrain</key>
	<string>bh</string>
	<key>Benin</key>
	<string>bj</string>
	<key>Bermuda</key>
	<string>bm</string>
	<key>Brunei Darussalam</key>
	<string>bn</string>
	<key>Bolivia</key>
	<string>bo</string>
	<key>Brazil</key>
	<string>br</string>
	<key>Bahamas</key>
	<string>bs</string>
	<key>Bhutan</key>
	<string>bt</string>
	<key>Botswana</key>
	<string>bw</string>
	<key>Belarus</key>
	<string>by</string>
	<key>Belize</key>
	<string>bz</string>
	<key>Canada</key>
	<string>ca</string>
	<key>Democratic Republic of the Congo</key>
	<string>cg</string>
	<key>Switzerland</key>
	<string>ch</string>
	<key>Chile</key>
	<string>cl</string>
	<key>China</key>
	<string>cn</string>
	<key>Colombia</key>
	<string>co</string>
	<key>Costa Rica</key>
	<string>cr</string>
	<key>Cape Verde</key>
	<string>cv</string>
	<key>Cyprus</key>
	<string>cy</string>
	<key>Czech Republic</key>
	<string>cz</string>
	<key>Germany</key>
	<string>de</string>
	<key>Denmark</key>
	<string>dk</string>
	<key>Dominica</key>
	<string>sm</string>
	<key>Dominican Republic</key>
	<string>do</string>
	<key>Algeria</key>
	<string>dz</string>
	<key>Ecuador</key>
	<string>ec</string>
	<key>Estonia</key>
	<string>ee</string>
	<key>Egypt</key>
	<string>eg</string>
	<key>Spain</key>
	<string>es</string>
	<key>Finland</key>
	<string>fi</string>
	<key>Fiji</key>
	<string>fj</string>
	<key>Federated States of Micronesia</key>
	<string>fm</string>
	<key>France</key>
	<string>fr</string>
	<key>United Kingdom</key>
	<string>gb</string>
	<key>Grenada</key>
	<string>gd</string>
	<key>Ghana</key>
	<string>gh</string>
	<key>Gambia</key>
	<string>gm</string>
	<key>Greece</key>
	<string>gr</string>
	<key>Guatemala</key>
	<string>gt</string>
	<key>Guinea Bissau</key>
	<string>gw</string>
	<key>Guyana</key>
	<string>gy</string>
	<key>Hong Kong</key>
	<string>hk</string>
	<key>Honduras</key>
	<string>hn</string>
	<key>Croatia</key>
	<string>hr</string>
	<key>Hungaria</key>
	<string>hu</string>
	<key>Indonesia</key>
	<string>id</string>
	<key>Ireland</key>
	<string>ie</string>
	<key>Israel</key>
	<string>il</string>
	<key>India</key>
	<string>in</string>
	<key>Iceland</key>
	<string>is</string>
	<key>Italy</key>
	<string>it</string>
	<key>Jamaica</key>
	<string>jm</string>
	<key>Jordan</key>
	<string>jo</string>
	<key>Japan</key>
	<string>jp</string>
	<key>Kenya</key>
	<string>ke</string>
	<key>Krygyzstan</key>
	<string>kg</string>
	<key>Cambodia</key>
	<string>kh</string>
	<key>Saint Kitts and Nevis</key>
	<string>kn</string>
	<key>South Korea</key>
	<string>kr</string>
	<key>Kuwait</key>
	<string>kw</string>
	<key>Cayman Islands</key>
	<string>ky</string>
	<key>Kazakhstan</key>
	<string>kz</string>
	<key>Laos</key>
	<string>la</string>
	<key>Lebanon</key>
	<string>lb</string>
	<key>Saint Lucia</key>
	<string>lc</string>
	<key>Sri Lanka</key>
	<string>lk</string>
	<key>Liberia</key>
	<string>lr</string>
	<key>Lithuania</key>
	<string>lt</string>
	<key>Luxembourg</key>
	<string>lu</string>
	<key>Latvia</key>
	<string>lv</string>
	<key>Moldova</key>
	<string>md</string>
	<key>Madagascar</key>
	<string>mg</string>
	<key>Macedonia</key>
	<string>mk</string>
	<key>Mali</key>
	<string>ml</string>
	<key>Mongolia</key>
	<string>mn</string>
	<key>Macau</key>
	<string>mo</string>
	<key>Mauritania</key>
	<string>mr</string>
	<key>Montserrat</key>
	<string>ms</string>
	<key>Malta</key>
	<string>mt</string>
	<key>Mauritius</key>
	<string>mu</string>
	<key>Malawi</key>
	<string>mw</string>
	<key>Mexico</key>
	<string>mx</string>
	<key>Malaysia</key>
	<string>my</string>
	<key>Mozambique</key>
	<string>mz</string>
	<key>Namibia</key>
	<string>na</string>
	<key>Niger</key>
	<string>ne</string>
	<key>Nigeria</key>
	<string>ng</string>
	<key>Nicaragua</key>
	<string>ni</string>
	<key>Netherlands</key>
	<string>nl</string>
	<key>Nepal</key>
	<string>np</string>
	<key>Norway</key>
	<string>no</string>
	<key>New Zealand</key>
	<string>nz</string>
	<key>Oman</key>
	<string>om</string>
	<key>Panama</key>
	<string>pa</string>
	<key>Peru</key>
	<string>pe</string>
	<key>Papua New Guinea</key>
	<string>pg</string>
	<key>Philippines</key>
	<string>ph</string>
	<key>Pakistan</key>
	<string>pk</string>
	<key>Poland</key>
	<string>pl</string>
	<key>Portugal</key>
	<string>pt</string>
	<key>Palau</key>
	<string>pw</string>
	<key>Paraguay</key>
	<string>py</string>
	<key>Qatar</key>
	<string>qa</string>
	<key>Romania</key>
	<string>ro</string>
	<key>Russia</key>
	<string>ru</string>
	<key>Saudi Arabia</key>
	<string>sa</string>
	<key>Soloman Islands</key>
	<string>sb</string>
	<key>Seychelles</key>
	<string>sc</string>
	<key>Sweden</key>
	<string>se</string>
	<key>Singapore</key>
	<string>sg</string>
	<key>Slovenia</key>
	<string>si</string>
	<key>Slovakia</key>
	<string>sk</string>
	<key>Sierra Leone</key>
	<string>sl</string>
	<key>Senegal</key>
	<string>sn</string>
	<key>Suriname</key>
	<string>sr</string>
	<key>Sao Tome e Principe</key>
	<string>st</string>
	<key>El Salvador</key>
	<string>sv</string>
	<key>Swaziland</key>
	<string>sz</string>
	<key>Turks and Caicos Islands</key>
	<string>tc</string>
	<key>Chad</key>
	<string>td</string>
	<key>Thailand</key>
	<string>th</string>
	<key>Tajikistan</key>
	<string>tj</string>
	<key>Turkmenistan</key>
	<string>tm</string>
	<key>Tunisia</key>
	<string>tn</string>
	<key>Turkey</key>
	<string>tr</string>
	<key>Republic of Trinidad and Tobago</key>
	<string>tt</string>
	<key>Taiwan</key>
	<string>tw</string>
	<key>Tanzania</key>
	<string>tz</string>
	<key>Ukraine</key>
	<string>ua</string>
	<key>Uganda</key>
	<string>ug</string>
	<key>United States of America</key>
	<string>us</string>
	<key>Uruguay</key>
	<string>uy</string>
	<key>Uzbekistan</key>
	<string>uz</string>
	<key>Saint Vincent and the Grenadines</key>
	<string>vc</string>
	<key>Venezuela</key>
	<string>ve</string>
	<key>British Virgin Islands</key>
	<string>vg</string>
	<key>Vietnam</key>
	<string>vn</string>
	<key>Yemen</key>
	<string>ye</string>
	<key>South Africa</key>
	<string>za</string>
	<key>Zimbabwe</key>
	<string>zw</string>
</dict>
</plist>
